@font-face {
  font-family: "policeTitre";
  src: url("../fonts/Super-Malibu.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "policeGeneral";
  src: url("../fonts/Roboto-Regular.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: #5c558e;
  color: #956aff;
}

h1,
h2,
h3 {
  font-family: "policeTitre";
  font-weight: normal;
}

p ,a{
  font-family: "policeGeneral";
  
  
}



a:hover{
opacity: 100%;


}



#iconBar,#iconBarMobile {
  background-color: #956aff;
}
