@use "typo" as *;

#aPropos__boiteInfo{
    background-color: $MauvePale;
    color: $Mauve;
}

#aPropos__skill{

    background-color: $MauvePale;
    color: $Mauve;

    div{
background-color: $Mauve;

    }
}